* {
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #F4F3F9;
}
.navbar {
  height: 60px;
  padding: 0 10%;
  display: flex;
  align-items: center;
  font-size: 20px;

  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,.2) 0%, rgba(244,243,249,1) 90%);
}

#home {
  position: relative;
  height: 100vh;
}
.section_arrow_down {
  position: absolute;
  bottom: calc(0px + 75px);
  left: 50%;
  transform: translateX(-50%);
}
.section_arrow_down > img {
  width: 37px;
  cursor: pointer;
  animation-name: moviendrew;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;	
}
@keyframes moviendrew {
  0% {
      transform: translateY(0px);
  }
  100% {
      transform: translateY(20px);
  }
}
.center-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
}

.img_profile {
    border-radius: 50%;
    transform: rotate(40deg);
    -webkit-box-shadow: 0px 0px 72px -7px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 72px -7px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 72px -7px rgba(0,0,0,0.59);
}
.information {
    margin-left: 30px;
}
.profession {
    font-weight: 400;
}

.btn {
  padding: 8px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #221f1f;
  cursor: pointer;
}
.btn-secundary {
  background: #F4F3F9;
  color: #221f1f;
}
.btn-primary {
  background: #221f1f;
  color: #FFFFFF;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50) translateY(-50);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#766DF4 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#766DF4);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
  }
  
  @keyframes s3{ 
    100%{transform: rotate(1turn)}
  }